<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, t(:error)) %> <%= t :prohibited_this_user_from_being_saved %></h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t(:login) %>
    <%= form.text_field :username, required: true  %>
  </div>

  <div class="field">
    <%= form.label t(:password) %>
    <%= form.text_field :password, required: true  %>
  </div>

  <div class="field">
    <%= form.label t(:password_confirmation)%>
    <%= form.password_field :password_confirmation, required: true %>
  </div>

  <div class="actions">
    <%= form.submit t(:create_user)%>
  </div>
<% end %>
